.icon-16-accept{background-image:url(16/accept.png);}
.icon-16-add{background-image:url(16/add.png);}
.icon-16-alarm{background-image:url(16/alarm.png);}
.icon-16-anchor{background-image:url(16/anchor.png);}
.icon-16-application{background-image:url(16/application.png);}
.icon-16-application2{background-image:url(16/application2.png);}
.icon-16-application-add{background-image:url(16/application_add.png);}
.icon-16-application-cascade{background-image:url(16/application_cascade.png);}
.icon-16-application-delete{background-image:url(16/application_delete.png);}
.icon-16-application-double{background-image:url(16/application_double.png);}
.icon-16-application-edit{background-image:url(16/application_edit.png);}
.icon-16-application-error{background-image:url(16/application_error.png);}
.icon-16-application-form{background-image:url(16/application_form.png);}
.icon-16-application-get{background-image:url(16/application_get.png);}
.icon-16-application-go{background-image:url(16/application_go.png);}
.icon-16-application-home{background-image:url(16/application_home.png);}
.icon-16-application-key{background-image:url(16/application_key.png);}
.icon-16-application-lightning{background-image:url(16/application_lightning.png);}
.icon-16-application-link{background-image:url(16/application_link.png);}
.icon-16-application-osx{background-image:url(16/application_osx.png);}
.icon-16-application-osx-terminal{background-image:url(16/application_osx_terminal.png);}
.icon-16-application-put{background-image:url(16/application_put.png);}
.icon-16-application-side-boxes{background-image:url(16/application_side_boxes.png);}
.icon-16-application-side-contract{background-image:url(16/application_side_contract.png);}
.icon-16-application-side-expand{background-image:url(16/application_side_expand.png);}
.icon-16-application-side-list{background-image:url(16/application_side_list.png);}
.icon-16-application-side-tree{background-image:url(16/application_side_tree.png);}
.icon-16-application-split{background-image:url(16/application_split.png);}
.icon-16-application-tile-horizontal{background-image:url(16/application_tile_horizontal.png);}
.icon-16-application-tile-vertical{background-image:url(16/application_tile_vertical.png);}
.icon-16-application-view-columns{background-image:url(16/application_view_columns.png);}
.icon-16-application-view-detail{background-image:url(16/application_view_detail.png);}
.icon-16-application-view-gallery{background-image:url(16/application_view_gallery.png);}
.icon-16-application-view-icons{background-image:url(16/application_view_icons.png);}
.icon-16-application-view-list{background-image:url(16/application_view_list.png);}
.icon-16-application-view-tile{background-image:url(16/application_view_tile.png);}
.icon-16-application-view-xp{background-image:url(16/application_view_xp.png);}
.icon-16-application-view-xp-terminal{background-image:url(16/application_view_xp_terminal.png);}
.icon-16-arrow-branch{background-image:url(16/arrow_branch.png);}
.icon-16-arrow-divide{background-image:url(16/arrow_divide.png);}
.icon-16-arrow-in{background-image:url(16/arrow_in.png);}
.icon-16-arrow-inout{background-image:url(16/arrow_inout.png);}
.icon-16-arrow-join{background-image:url(16/arrow_join.png);}
.icon-16-arrow-left{background-image:url(16/arrow_left.png);}
.icon-16-arrow-merge{background-image:url(16/arrow_merge.png);}
.icon-16-arrow-out{background-image:url(16/arrow_out.png);}
.icon-16-arrow-redo{background-image:url(16/arrow_redo.png);}
.icon-16-arrow-refresh{background-image:url(16/arrow_refresh.png);}
.icon-16-arrow-right{background-image:url(16/arrow_right.png);}
.icon-16-arrow-undo{background-image:url(16/arrow_undo.png);}
.icon-16-asterisk-orange{background-image:url(16/asterisk_orange.png);}
.icon-16-attach{background-image:url(16/attach.png);}
.icon-16-attach-2{background-image:url(16/attach_2.png);}
.icon-16-award-star-gold{background-image:url(16/award_star_gold.png);}
.icon-16-bandaid{background-image:url(16/bandaid.png);}
.icon-16-basket{background-image:url(16/basket.png);}
.icon-16-bell{background-image:url(16/bell.png);}
.icon-16-bin-closed{background-image:url(16/bin_closed.png);}
.icon-16-blog{background-image:url(16/blog.png);}
.icon-16-blueprint{background-image:url(16/blueprint.png);}
.icon-16-blueprint-horizontal{background-image:url(16/blueprint_horizontal.png);}
.icon-16-bluetooth{background-image:url(16/bluetooth.png);}
.icon-16-bomb{background-image:url(16/bomb.png);}
.icon-16-book{background-image:url(16/book.png);}
.icon-16-bookmark{background-image:url(16/bookmark.png);}
.icon-16-bookmark-book{background-image:url(16/bookmark_book.png);}
.icon-16-bookmark-book-open{background-image:url(16/bookmark_book_open.png);}
.icon-16-bookmark-document{background-image:url(16/bookmark_document.png);}
.icon-16-bookmark-folder{background-image:url(16/bookmark_folder.png);}
.icon-16-books{background-image:url(16/books.png);}
.icon-16-book-addresses{background-image:url(16/book_addresses.png);}
.icon-16-book-next{background-image:url(16/book_next.png);}
.icon-16-book-open{background-image:url(16/book_open.png);}
.icon-16-book-previous{background-image:url(16/book_previous.png);}
.icon-16-box{background-image:url(16/box.png);}
.icon-16-brick{background-image:url(16/brick.png);}
.icon-16-bricks{background-image:url(16/bricks.png);}
.icon-16-briefcase{background-image:url(16/briefcase.png);}
.icon-16-bug{background-image:url(16/bug.png);}
.icon-16-buildings{background-image:url(16/buildings.png);}
.icon-16-bullet-add-1{background-image:url(16/bullet_add_1.png);}
.icon-16-bullet-add-2{background-image:url(16/bullet_add_2.png);}
.icon-16-bullet-key{background-image:url(16/bullet_key.png);}
.icon-16-cake{background-image:url(16/cake.png);}
.icon-16-calculator{background-image:url(16/calculator.png);}
.icon-16-calendar-1{background-image:url(16/calendar_1.png);}
.icon-16-calendar-2{background-image:url(16/calendar_2.png);}
.icon-16-camera{background-image:url(16/camera.png);}
.icon-16-cancel{background-image:url(16/cancel.png);}
.icon-16-car{background-image:url(16/car.png);}
.icon-16-cart{background-image:url(16/cart.png);}
.icon-16-cd{background-image:url(16/cd.png);}
.icon-16-change-password{background-image:url(16/change_password.png);}
.icon-16-chart-bar{background-image:url(16/chart_bar.png);}
.icon-16-chart-curve{background-image:url(16/chart_curve.png);}
.icon-16-chart-line{background-image:url(16/chart_line.png);}
.icon-16-chart-organisation{background-image:url(16/chart_organisation.png);}
.icon-16-chart-pie{background-image:url(16/chart_pie.png);}
.icon-16-clipboard-paste-image{background-image:url(16/clipboard_paste_image.png);}
.icon-16-clipboard-sign{background-image:url(16/clipboard_sign.png);}
.icon-16-clipboard-text{background-image:url(16/clipboard_text.png);}
.icon-16-clock{background-image:url(16/clock.png);}
.icon-16-cog{background-image:url(16/cog.png);}
.icon-16-coins{background-image:url(16/coins.png);}
.icon-16-color-swatch-1{background-image:url(16/color_swatch_1.png);}
.icon-16-color-swatch-2{background-image:url(16/color_swatch_2.png);}
.icon-16-comment{background-image:url(16/comment.png);}
.icon-16-compass{background-image:url(16/compass.png);}
.icon-16-compress{background-image:url(16/compress.png);}
.icon-16-computer{background-image:url(16/computer.png);}
.icon-16-connect{background-image:url(16/connect.png);}
.icon-16-contrast{background-image:url(16/contrast.png);}
.icon-16-control-eject{background-image:url(16/control_eject.png);}
.icon-16-control-end{background-image:url(16/control_end.png);}
.icon-16-control-equalizer{background-image:url(16/control_equalizer.png);}
.icon-16-control-fastforward{background-image:url(16/control_fastforward.png);}
.icon-16-control-pause{background-image:url(16/control_pause.png);}
.icon-16-control-play{background-image:url(16/control_play.png);}
.icon-16-control-repeat{background-image:url(16/control_repeat.png);}
.icon-16-control-rewind{background-image:url(16/control_rewind.png);}
.icon-16-control-start{background-image:url(16/control_start.png);}
.icon-16-control-stop{background-image:url(16/control_stop.png);}
.icon-16-control-wheel{background-image:url(16/control_wheel.png);}
.icon-16-counter{background-image:url(16/counter.png);}
.icon-16-counter-count{background-image:url(16/counter_count.png);}
.icon-16-counter-count-up{background-image:url(16/counter_count_up.png);}
.icon-16-counter-reset{background-image:url(16/counter_reset.png);}
.icon-16-counter-stop{background-image:url(16/counter_stop.png);}
.icon-16-cross{background-image:url(16/cross.png);}
.icon-16-cross-octagon{background-image:url(16/cross_octagon.png);}
.icon-16-cross-octagon-fram{background-image:url(16/cross_octagon_fram.png);}
.icon-16-cross-shield{background-image:url(16/cross_shield.png);}
.icon-16-cross-shield-2{background-image:url(16/cross_shield_2.png);}
.icon-16-crown{background-image:url(16/crown.png);}
.icon-16-crown-bronze{background-image:url(16/crown_bronze.png);}
.icon-16-crown-silver{background-image:url(16/crown_silver.png);}
.icon-16-css{background-image:url(16/css.png);}
.icon-16-cursor{background-image:url(16/cursor.png);}
.icon-16-cut{background-image:url(16/cut.png);}
.icon-16-dashboard{background-image:url(16/dashboard.png);}
.icon-16-data{background-image:url(16/data.png);}
.icon-16-database{background-image:url(16/database.png);}
.icon-16-databases{background-image:url(16/databases.png);}
.icon-16-delete{background-image:url(16/delete.png);}
.icon-16-deliver{background-image:url(16/deliver.png);}
.icon-16-delivery{background-image:url(16/delivery.png);}
.icon-16-delivery-schedule{background-image:url(16/delivery_schedule.png);}
.icon-16-desktop{background-image:url(16/desktop.png);}
.icon-16-desktop-empty{background-image:url(16/desktop_empty.png);}
.icon-16-direction{background-image:url(16/direction.png);}
.icon-16-disconnect{background-image:url(16/disconnect.png);}
.icon-16-disk{background-image:url(16/disk.png);}
.icon-16-doc-access{background-image:url(16/doc_access.png);}
.icon-16-doc-break{background-image:url(16/doc_break.png);}
.icon-16-doc-convert{background-image:url(16/doc_convert.png);}
.icon-16-doc-excel-csv{background-image:url(16/doc_excel_csv.png);}
.icon-16-doc-excel-table{background-image:url(16/doc_excel_table.png);}
.icon-16-doc-film{background-image:url(16/doc_film.png);}
.icon-16-doc-illustrator{background-image:url(16/doc_illustrator.png);}
.icon-16-doc-music{background-image:url(16/doc_music.png);}
.icon-16-doc-music-playlist{background-image:url(16/doc_music_playlist.png);}
.icon-16-doc-offlice{background-image:url(16/doc_offlice.png);}
.icon-16-doc-page{background-image:url(16/doc_page.png);}
.icon-16-doc-page-previous{background-image:url(16/doc_page_previous.png);}
.icon-16-doc-pdf{background-image:url(16/doc_pdf.png);}
.icon-16-doc-photoshop{background-image:url(16/doc_photoshop.png);}
.icon-16-doc-resize{background-image:url(16/doc_resize.png);}
.icon-16-doc-resize-actual{background-image:url(16/doc_resize_actual.png);}
.icon-16-doc-shred{background-image:url(16/doc_shred.png);}
.icon-16-doc-stand{background-image:url(16/doc_stand.png);}
.icon-16-doc-table{background-image:url(16/doc_table.png);}
.icon-16-doc-tag{background-image:url(16/doc_tag.png);}
.icon-16-doc-text-image{background-image:url(16/doc_text_image.png);}
.icon-16-door{background-image:url(16/door.png);}
.icon-16-door-in{background-image:url(16/door_in.png);}
.icon-16-drawer{background-image:url(16/drawer.png);}
.icon-16-drink{background-image:url(16/drink.png);}
.icon-16-drink-empty{background-image:url(16/drink_empty.png);}
.icon-16-drive{background-image:url(16/drive.png);}
.icon-16-drive-burn{background-image:url(16/drive_burn.png);}
.icon-16-drive-cd{background-image:url(16/drive_cd.png);}
.icon-16-drive-cd-empty{background-image:url(16/drive_cd_empty.png);}
.icon-16-drive-delete{background-image:url(16/drive_delete.png);}
.icon-16-drive-disk{background-image:url(16/drive_disk.png);}
.icon-16-drive-error{background-image:url(16/drive_error.png);}
.icon-16-drive-go{background-image:url(16/drive_go.png);}
.icon-16-drive-link{background-image:url(16/drive_link.png);}
.icon-16-drive-network{background-image:url(16/drive_network.png);}
.icon-16-drive-rename{background-image:url(16/drive_rename.png);}
.icon-16-dvd{background-image:url(16/dvd.png);}
.icon-16-edit{background-image:url(16/edit.png);}
.icon-16-email{background-image:url(16/email.png);}
.icon-16-email-open{background-image:url(16/email_open.png);}
.icon-16-email-open-image{background-image:url(16/email_open_image.png);}
.icon-16-emoticon-evilgrin{background-image:url(16/emoticon_evilgrin.png);}
.icon-16-emoticon-grin{background-image:url(16/emoticon_grin.png);}
.icon-16-emoticon-happy{background-image:url(16/emoticon_happy.png);}
.icon-16-emoticon-smile{background-image:url(16/emoticon_smile.png);}
.icon-16-emoticon-surprised{background-image:url(16/emoticon_surprised.png);}
.icon-16-emoticon-tongue{background-image:url(16/emoticon_tongue.png);}
.icon-16-emoticon-unhappy{background-image:url(16/emoticon_unhappy.png);}
.icon-16-emoticon-waii{background-image:url(16/emoticon_waii.png);}
.icon-16-emoticon-wink{background-image:url(16/emoticon_wink.png);}
.icon-16-envelope{background-image:url(16/envelope.png);}
.icon-16-envelope-2{background-image:url(16/envelope_2.png);}
.icon-16-error{background-image:url(16/error.png);}
.icon-16-exclamation{background-image:url(16/exclamation.png);}
.icon-16-exclamation-octagon-fram{background-image:url(16/exclamation_octagon_fram.png);}
.icon-16-eye{background-image:url(16/eye.png);}
.icon-16-feed{background-image:url(16/feed.png);}
.icon-16-feed-ballon{background-image:url(16/feed_ballon.png);}
.icon-16-feed-document{background-image:url(16/feed_document.png);}
.icon-16-female{background-image:url(16/female.png);}
.icon-16-film{background-image:url(16/film.png);}
.icon-16-films{background-image:url(16/films.png);}
.icon-16-find{background-image:url(16/find.png);}
.icon-16-flag-blue{background-image:url(16/flag_blue.png);}
.icon-16-folder{background-image:url(16/folder.png);}
.icon-16-font{background-image:url(16/font.png);}
.icon-16-funnel{background-image:url(16/funnel.png);}
.icon-16-grid{background-image:url(16/grid.png);}
.icon-16-grid-dot{background-image:url(16/grid_dot.png);}
.icon-16-group{background-image:url(16/group.png);}
.icon-16-hammer{background-image:url(16/hammer.png);}
.icon-16-hammer-screwdriver{background-image:url(16/hammer_screwdriver.png);}
.icon-16-hand{background-image:url(16/hand.png);}
.icon-16-hand-point{background-image:url(16/hand_point.png);}
.icon-16-heart{background-image:url(16/heart.png);}
.icon-16-heart-break{background-image:url(16/heart_break.png);}
.icon-16-heart-empty{background-image:url(16/heart_empty.png);}
.icon-16-heart-half{background-image:url(16/heart_half.png);}
.icon-16-heart-small{background-image:url(16/heart_small.png);}
.icon-16-help{background-image:url(16/help.png);}
.icon-16-highlighter{background-image:url(16/highlighter.png);}
.icon-16-house{background-image:url(16/house.png);}
.icon-16-html{background-image:url(16/html.png);}
.icon-16-images{background-image:url(16/images.png);}
.icon-16-image-1{background-image:url(16/image_1.png);}
.icon-16-image-2{background-image:url(16/image_2.png);}
.icon-16-inbox{background-image:url(16/inbox.png);}
.icon-16-invoice{background-image:url(16/invoice.png);}
.icon-16-ipod{background-image:url(16/ipod.png);}
.icon-16-ipod-cast{background-image:url(16/ipod_cast.png);}
.icon-16-joystick{background-image:url(16/joystick.png);}
.icon-16-key{background-image:url(16/key.png);}
.icon-16-keyboard{background-image:url(16/keyboard.png);}
.icon-16-layers{background-image:url(16/layers.png);}
.icon-16-layer-treansparent{background-image:url(16/layer_treansparent.png);}
.icon-16-layout{background-image:url(16/layout.png);}
.icon-16-layout-header-footer-3{background-image:url(16/layout_header_footer_3.png);}
.icon-16-layout-header-footer-3-mix{background-image:url(16/layout_header_footer_3_mix.png);}
.icon-16-layout-join{background-image:url(16/layout_join.png);}
.icon-16-layout-join-vertical{background-image:url(16/layout_join_vertical.png);}
.icon-16-layout-select{background-image:url(16/layout_select.png);}
.icon-16-layout-select-content{background-image:url(16/layout_select_content.png);}
.icon-16-layout-select-footer{background-image:url(16/layout_select_footer.png);}
.icon-16-layout-select-sidebar{background-image:url(16/layout_select_sidebar.png);}
.icon-16-layout-split{background-image:url(16/layout_split.png);}
.icon-16-layout-split-vertical{background-image:url(16/layout_split_vertical.png);}
.icon-16-lifebuoy{background-image:url(16/lifebuoy.png);}
.icon-16-lightbulb{background-image:url(16/lightbulb.png);}
.icon-16-lightbulb-off{background-image:url(16/lightbulb_off.png);}
.icon-16-lightning{background-image:url(16/lightning.png);}
.icon-16-link{background-image:url(16/link.png);}
.icon-16-link-break{background-image:url(16/link_break.png);}
.icon-16-lock{background-image:url(16/lock.png);}
.icon-16-lock-unlock{background-image:url(16/lock_unlock.png);}
.icon-16-magnet{background-image:url(16/magnet.png);}
.icon-16-magnifier{background-image:url(16/magnifier.png);}
.icon-16-magnifier-zoom-in{background-image:url(16/magnifier_zoom_in.png);}
.icon-16-male{background-image:url(16/male.png);}
.icon-16-map{background-image:url(16/map.png);}
.icon-16-marker{background-image:url(16/marker.png);}
.icon-16-medal-bronze-1{background-image:url(16/medal_bronze_1.png);}
.icon-16-medal-gold-1{background-image:url(16/medal_gold_1.png);}
.icon-16-media-player-small-blue{background-image:url(16/media_player_small_blue.png);}
.icon-16-microphone{background-image:url(16/microphone.png);}
.icon-16-mobile-phone{background-image:url(16/mobile_phone.png);}
.icon-16-money{background-image:url(16/money.png);}
.icon-16-money-dollar{background-image:url(16/money_dollar.png);}
.icon-16-money-euro{background-image:url(16/money_euro.png);}
.icon-16-money-pound{background-image:url(16/money_pound.png);}
.icon-16-money-yen{background-image:url(16/money_yen.png);}
.icon-16-monitor{background-image:url(16/monitor.png);}
.icon-16-mouse{background-image:url(16/mouse.png);}
.icon-16-music{background-image:url(16/music.png);}
.icon-16-music-beam{background-image:url(16/music_beam.png);}
.icon-16-neutral{background-image:url(16/neutral.png);}
.icon-16-new{background-image:url(16/new.png);}
.icon-16-newspaper{background-image:url(16/newspaper.png);}
.icon-16-note{background-image:url(16/note.png);}
.icon-16-nuclear{background-image:url(16/nuclear.png);}
.icon-16-package{background-image:url(16/package.png);}
.icon-16-page{background-image:url(16/page.png);}
.icon-16-page-2{background-image:url(16/page_2.png);}
.icon-16-page-2-copy{background-image:url(16/page_2_copy.png);}
.icon-16-page-code{background-image:url(16/page_code.png);}
.icon-16-page-copy{background-image:url(16/page_copy.png);}
.icon-16-page-excel{background-image:url(16/page_excel.png);}
.icon-16-page-lightning{background-image:url(16/page_lightning.png);}
.icon-16-page-paste{background-image:url(16/page_paste.png);}
.icon-16-page-red{background-image:url(16/page_red.png);}
.icon-16-page-refresh{background-image:url(16/page_refresh.png);}
.icon-16-page-save{background-image:url(16/page_save.png);}
.icon-16-page-white-cplusplus{background-image:url(16/page_white_cplusplus.png);}
.icon-16-page-white-csharp{background-image:url(16/page_white_csharp.png);}
.icon-16-page-white-cup{background-image:url(16/page_white_cup.png);}
.icon-16-page-white-database{background-image:url(16/page_white_database.png);}
.icon-16-page-white-delete{background-image:url(16/page_white_delete.png);}
.icon-16-page-white-dvd{background-image:url(16/page_white_dvd.png);}
.icon-16-page-white-edit{background-image:url(16/page_white_edit.png);}
.icon-16-page-white-error{background-image:url(16/page_white_error.png);}
.icon-16-page-white-excel{background-image:url(16/page_white_excel.png);}
.icon-16-page-white-find{background-image:url(16/page_white_find.png);}
.icon-16-page-white-flash{background-image:url(16/page_white_flash.png);}
.icon-16-page-white-freehand{background-image:url(16/page_white_freehand.png);}
.icon-16-page-white-gear{background-image:url(16/page_white_gear.png);}
.icon-16-page-white-get{background-image:url(16/page_white_get.png);}
.icon-16-page-white-paintbrush{background-image:url(16/page_white_paintbrush.png);}
.icon-16-page-white-paste{background-image:url(16/page_white_paste.png);}
.icon-16-page-white-php{background-image:url(16/page_white_php.png);}
.icon-16-page-white-picture{background-image:url(16/page_white_picture.png);}
.icon-16-page-white-powerpoint{background-image:url(16/page_white_powerpoint.png);}
.icon-16-page-white-put{background-image:url(16/page_white_put.png);}
.icon-16-page-white-ruby{background-image:url(16/page_white_ruby.png);}
.icon-16-page-white-stack{background-image:url(16/page_white_stack.png);}
.icon-16-page-white-star{background-image:url(16/page_white_star.png);}
.icon-16-page-white-swoosh{background-image:url(16/page_white_swoosh.png);}
.icon-16-page-white-text{background-image:url(16/page_white_text.png);}
.icon-16-page-white-text-width{background-image:url(16/page_white_text_width.png);}
.icon-16-page-white-tux{background-image:url(16/page_white_tux.png);}
.icon-16-page-white-vector{background-image:url(16/page_white_vector.png);}
.icon-16-page-white-visualstudio{background-image:url(16/page_white_visualstudio.png);}
.icon-16-page-white-width{background-image:url(16/page_white_width.png);}
.icon-16-page-white-word{background-image:url(16/page_white_word.png);}
.icon-16-page-white-world{background-image:url(16/page_white_world.png);}
.icon-16-page-white-wrench{background-image:url(16/page_white_wrench.png);}
.icon-16-page-white-zip{background-image:url(16/page_white_zip.png);}
.icon-16-paintbrush{background-image:url(16/paintbrush.png);}
.icon-16-paintcan{background-image:url(16/paintcan.png);}
.icon-16-palette{background-image:url(16/palette.png);}
.icon-16-paper-bag{background-image:url(16/paper_bag.png);}
.icon-16-paste-plain{background-image:url(16/paste_plain.png);}
.icon-16-paste-word{background-image:url(16/paste_word.png);}
.icon-16-pencil{background-image:url(16/pencil.png);}
.icon-16-photo{background-image:url(16/photo.png);}
.icon-16-photos{background-image:url(16/photos.png);}
.icon-16-photo-album{background-image:url(16/photo_album.png);}
.icon-16-piano{background-image:url(16/piano.png);}
.icon-16-picture{background-image:url(16/picture.png);}
.icon-16-pilcrow{background-image:url(16/pilcrow.png);}
.icon-16-pill{background-image:url(16/pill.png);}
.icon-16-pin{background-image:url(16/pin.png);}
.icon-16-pipette{background-image:url(16/pipette.png);}
.icon-16-plaing-card{background-image:url(16/plaing_card.png);}
.icon-16-plug{background-image:url(16/plug.png);}
.icon-16-plugin{background-image:url(16/plugin.png);}
.icon-16-printer{background-image:url(16/printer.png);}
.icon-16-projection-screen{background-image:url(16/projection_screen.png);}
.icon-16-projection-screen-present{background-image:url(16/projection_screen_present.png);}
.icon-16-rainbow{background-image:url(16/rainbow.png);}
.icon-16-report{background-image:url(16/report.png);}
.icon-16-rocket{background-image:url(16/rocket.png);}
.icon-16-rosette{background-image:url(16/rosette.png);}
.icon-16-rss{background-image:url(16/rss.png);}
.icon-16-ruby{background-image:url(16/ruby.png);}
.icon-16-ruler-1{background-image:url(16/ruler_1.png);}
.icon-16-ruler-2{background-image:url(16/ruler_2.png);}
.icon-16-ruler-crop{background-image:url(16/ruler_crop.png);}
.icon-16-ruler-triangle{background-image:url(16/ruler_triangle.png);}
.icon-16-safe{background-image:url(16/safe.png);}
.icon-16-script{background-image:url(16/script.png);}
.icon-16-selection{background-image:url(16/selection.png);}
.icon-16-selection-select{background-image:url(16/selection_select.png);}
.icon-16-server{background-image:url(16/server.png);}
.icon-16-shading{background-image:url(16/shading.png);}
.icon-16-shape-aling-bottom{background-image:url(16/shape_aling_bottom.png);}
.icon-16-shape-aling-center{background-image:url(16/shape_aling_center.png);}
.icon-16-shape-aling-left{background-image:url(16/shape_aling_left.png);}
.icon-16-shape-aling-middle{background-image:url(16/shape_aling_middle.png);}
.icon-16-shape-aling-right{background-image:url(16/shape_aling_right.png);}
.icon-16-shape-aling-top{background-image:url(16/shape_aling_top.png);}
.icon-16-shape-flip-horizontal{background-image:url(16/shape_flip_horizontal.png);}
.icon-16-shape-flip-vertical{background-image:url(16/shape_flip_vertical.png);}
.icon-16-shape-group{background-image:url(16/shape_group.png);}
.icon-16-shape-handles{background-image:url(16/shape_handles.png);}
.icon-16-shape-move-back{background-image:url(16/shape_move_back.png);}
.icon-16-shape-move-backwards{background-image:url(16/shape_move_backwards.png);}
.icon-16-shape-move-forwards{background-image:url(16/shape_move_forwards.png);}
.icon-16-shape-move-front{background-image:url(16/shape_move_front.png);}
.icon-16-shape-square{background-image:url(16/shape_square.png);}
.icon-16-shield{background-image:url(16/shield.png);}
.icon-16-sitemap{background-image:url(16/sitemap.png);}
.icon-16-slide{background-image:url(16/slide.png);}
.icon-16-slides{background-image:url(16/slides.png);}
.icon-16-slides-stack{background-image:url(16/slides_stack.png);}
.icon-16-smiley-confuse{background-image:url(16/smiley_confuse.png);}
.icon-16-smiley-cool{background-image:url(16/smiley_cool.png);}
.icon-16-smiley-cry{background-image:url(16/smiley_cry.png);}
.icon-16-smiley-fat{background-image:url(16/smiley_fat.png);}
.icon-16-smiley-mad{background-image:url(16/smiley_mad.png);}
.icon-16-smiley-red{background-image:url(16/smiley_red.png);}
.icon-16-smiley-roll{background-image:url(16/smiley_roll.png);}
.icon-16-smiley-slim{background-image:url(16/smiley_slim.png);}
.icon-16-smiley-yell{background-image:url(16/smiley_yell.png);}
.icon-16-socket{background-image:url(16/socket.png);}
.icon-16-sockets{background-image:url(16/sockets.png);}
.icon-16-sort{background-image:url(16/sort.png);}
.icon-16-sort-alphabet{background-image:url(16/sort_alphabet.png);}
.icon-16-sort-date{background-image:url(16/sort_date.png);}
.icon-16-sort-disable{background-image:url(16/sort_disable.png);}
.icon-16-sort-number{background-image:url(16/sort_number.png);}
.icon-16-sort-price{background-image:url(16/sort_price.png);}
.icon-16-sort-quantity{background-image:url(16/sort_quantity.png);}
.icon-16-sort-rating{background-image:url(16/sort_rating.png);}
.icon-16-sound{background-image:url(16/sound.png);}
.icon-16-sound-note{background-image:url(16/sound_note.png);}
.icon-16-spellcheck{background-image:url(16/spellcheck.png);}
.icon-16-sport-8ball{background-image:url(16/sport_8ball.png);}
.icon-16-sport-basketball{background-image:url(16/sport_basketball.png);}
.icon-16-sport-football{background-image:url(16/sport_football.png);}
.icon-16-sport-golf{background-image:url(16/sport_golf.png);}
.icon-16-sport-raquet{background-image:url(16/sport_raquet.png);}
.icon-16-sport-shuttlecock{background-image:url(16/sport_shuttlecock.png);}
.icon-16-sport-soccer{background-image:url(16/sport_soccer.png);}
.icon-16-sport-tennis{background-image:url(16/sport_tennis.png);}
.icon-16-stamp{background-image:url(16/stamp.png);}
.icon-16-star-1{background-image:url(16/star_1.png);}
.icon-16-star-2{background-image:url(16/star_2.png);}
.icon-16-status-online{background-image:url(16/status_online.png);}
.icon-16-stop{background-image:url(16/stop.png);}
.icon-16-style{background-image:url(16/style.png);}
.icon-16-sum{background-image:url(16/sum.png);}
.icon-16-sum-2{background-image:url(16/sum_2.png);}
.icon-16-switch{background-image:url(16/switch.png);}
.icon-16-tab{background-image:url(16/tab.png);}
.icon-16-table{background-image:url(16/table.png);}
.icon-16-tag{background-image:url(16/tag.png);}
.icon-16-tag-blue{background-image:url(16/tag_blue.png);}
.icon-16-target{background-image:url(16/target.png);}
.icon-16-telephone{background-image:url(16/telephone.png);}
.icon-16-television{background-image:url(16/television.png);}
.icon-16-textfield{background-image:url(16/textfield.png);}
.icon-16-textfield-rename{background-image:url(16/textfield_rename.png);}
.icon-16-text-align-center{background-image:url(16/text_align_center.png);}
.icon-16-text-align-justify{background-image:url(16/text_align_justify.png);}
.icon-16-text-align-left{background-image:url(16/text_align_left.png);}
.icon-16-text-align-right{background-image:url(16/text_align_right.png);}
.icon-16-text-allcaps{background-image:url(16/text_allcaps.png);}
.icon-16-text-bold{background-image:url(16/text_bold.png);}
.icon-16-text-columns{background-image:url(16/text_columns.png);}
.icon-16-text-dropcaps{background-image:url(16/text_dropcaps.png);}
.icon-16-text-heading-1{background-image:url(16/text_heading_1.png);}
.icon-16-text-horizontalrule{background-image:url(16/text_horizontalrule.png);}
.icon-16-text-indent{background-image:url(16/text_indent.png);}
.icon-16-text-indent-remove{background-image:url(16/text_indent_remove.png);}
.icon-16-text-italic{background-image:url(16/text_italic.png);}
.icon-16-text-kerning{background-image:url(16/text_kerning.png);}
.icon-16-text-letterspacing{background-image:url(16/text_letterspacing.png);}
.icon-16-text-letter-omega{background-image:url(16/text_letter_omega.png);}
.icon-16-text-linespacing{background-image:url(16/text_linespacing.png);}
.icon-16-text-list-bullets{background-image:url(16/text_list_bullets.png);}
.icon-16-text-list-numbers{background-image:url(16/text_list_numbers.png);}
.icon-16-text-lowercase{background-image:url(16/text_lowercase.png);}
.icon-16-text-padding-bottom{background-image:url(16/text_padding_bottom.png);}
.icon-16-text-padding-left{background-image:url(16/text_padding_left.png);}
.icon-16-text-padding-right{background-image:url(16/text_padding_right.png);}
.icon-16-text-padding-top{background-image:url(16/text_padding_top.png);}
.icon-16-text-signature{background-image:url(16/text_signature.png);}
.icon-16-text-smallcaps{background-image:url(16/text_smallcaps.png);}
.icon-16-text-strikethrough{background-image:url(16/text_strikethrough.png);}
.icon-16-text-subscript{background-image:url(16/text_subscript.png);}
.icon-16-ticket{background-image:url(16/ticket.png);}
.icon-16-timeline-marker{background-image:url(16/timeline_marker.png);}
.icon-16-traffic{background-image:url(16/traffic.png);}
.icon-16-transmit{background-image:url(16/transmit.png);}
.icon-16-trash{background-image:url(16/trash.png);}
.icon-16-trophy{background-image:url(16/trophy.png);}
.icon-16-trophy-bronze{background-image:url(16/trophy_bronze.png);}
.icon-16-trophy-silver{background-image:url(16/trophy_silver.png);}
.icon-16-ui-combo-box{background-image:url(16/ui_combo_box.png);}
.icon-16-ui-saccordion{background-image:url(16/ui_saccordion.png);}
.icon-16-ui-slider-1{background-image:url(16/ui_slider_1.png);}
.icon-16-ui-slider-2{background-image:url(16/ui_slider_2.png);}
.icon-16-ui-tab-bottom{background-image:url(16/ui_tab_bottom.png);}
.icon-16-ui-tab-content{background-image:url(16/ui_tab_content.png);}
.icon-16-ui-tab-disable{background-image:url(16/ui_tab_disable.png);}
.icon-16-ui-tab-side{background-image:url(16/ui_tab_side.png);}
.icon-16-ui-text-field-hidden{background-image:url(16/ui_text_field_hidden.png);}
.icon-16-ui-text-field-password{background-image:url(16/ui_text_field_password.png);}
.icon-16-umbrella{background-image:url(16/umbrella.png);}
.icon-16-user{background-image:url(16/user.png);}
.icon-16-user-black-female{background-image:url(16/user_black_female.png);}
.icon-16-user-business{background-image:url(16/user_business.png);}
.icon-16-user-business-boss{background-image:url(16/user_business_boss.png);}
.icon-16-user-female{background-image:url(16/user_female.png);}
.icon-16-user-silhouette{background-image:url(16/user_silhouette.png);}
.icon-16-user-thief{background-image:url(16/user_thief.png);}
.icon-16-user-thief-baldie{background-image:url(16/user_thief_baldie.png);}
.icon-16-vcard{background-image:url(16/vcard.png);}
.icon-16-vector{background-image:url(16/vector.png);}
.icon-16-view{background-image:url(16/view.png);}
.icon-16-wait{background-image:url(16/wait.png);}
.icon-16-wall{background-image:url(16/wall.png);}
.icon-16-wall-break{background-image:url(16/wall_break.png);}
.icon-16-wall-brick{background-image:url(16/wall_brick.png);}
.icon-16-wall-disable{background-image:url(16/wall_disable.png);}
.icon-16-wand{background-image:url(16/wand.png);}
.icon-16-weather-clouds{background-image:url(16/weather_clouds.png);}
.icon-16-weather-cloudy{background-image:url(16/weather_cloudy.png);}
.icon-16-weather-lightning{background-image:url(16/weather_lightning.png);}
.icon-16-weather-rain{background-image:url(16/weather_rain.png);}
.icon-16-weather-snow{background-image:url(16/weather_snow.png);}
.icon-16-weather-sun{background-image:url(16/weather_sun.png);}
.icon-16-webcam{background-image:url(16/webcam.png);}
.icon-16-world{background-image:url(16/world.png);}
.icon-16-zone{background-image:url(16/zone.png);}
.icon-16-zones{background-image:url(16/zones.png);}
.icon-16-zone-money{background-image:url(16/zone_money.png);}