.icon-24-abacus{background-image:url(24/abacus.png);}
.icon-24-acces-denied-sign{background-image:url(24/acces-denied-sign.png);}
.icon-24-address-book-1{background-image:url(24/address-book-1.png);}
.icon-24-address-book-2{background-image:url(24/address-book-2.png);}
.icon-24-address-book-3{background-image:url(24/address-book-3.png);}
.icon-24-address-book-4{background-image:url(24/address-book-4.png);}
.icon-24-address-book-5{background-image:url(24/address-book-5.png);}
.icon-24-address-book{background-image:url(24/address-book.png);}
.icon-24-adidas-sport-shirt{background-image:url(24/adidas-sport-shirt.png);}
.icon-24-admin-user-2{background-image:url(24/admin-user-2.png);}
.icon-24-admin-user{background-image:url(24/admin-user.png);}
.icon-24-airplane{background-image:url(24/airplane.png);}
.icon-24-alarm-bell-2{background-image:url(24/alarm-bell-2.png);}
.icon-24-alarm-bell{background-image:url(24/alarm-bell.png);}
.icon-24-alarm-clock{background-image:url(24/alarm-clock.png);}
.icon-24-alert-2{background-image:url(24/alert-2.png);}
.icon-24-alert{background-image:url(24/alert.png);}
.icon-24-american-express{background-image:url(24/american-express.png);}
.icon-24-android{background-image:url(24/android.png);}
.icon-24-apartment-building{background-image:url(24/apartment-building.png);}
.icon-24-applications{background-image:url(24/applications.png);}
.icon-24-archive{background-image:url(24/archive.png);}
.icon-24-arrow-down{background-image:url(24/arrow-down.png);}
.icon-24-arrow-left{background-image:url(24/arrow-left.png);}
.icon-24-arrow-right{background-image:url(24/arrow-right.png);}
.icon-24-arrow-up{background-image:url(24/arrow-up.png);}
.icon-24-bag-2{background-image:url(24/bag-2.png);}
.icon-24-bag{background-image:url(24/bag.png);}
.icon-24-balloons{background-image:url(24/balloons.png);}
.icon-24-bandaid{background-image:url(24/bandaid.png);}
.icon-24-bar-graph{background-image:url(24/bar-graph.png);}
.icon-24-battery-almost-empty{background-image:url(24/battery-almost-empty.png);}
.icon-24-battery-almost-full{background-image:url(24/battery-almost-full.png);}
.icon-24-battery-empty{background-image:url(24/battery-empty.png);}
.icon-24-battery-full{background-image:url(24/battery-full.png);}
.icon-24-battery{background-image:url(24/battery.png);}
.icon-24-bended-arrow-down{background-image:url(24/bended-arrow-down.png);}
.icon-24-bended-arrow-left{background-image:url(24/bended-arrow-left.png);}
.icon-24-bended-arrow-right{background-image:url(24/bended-arrow-right.png);}
.icon-24-bended-arrow-up{background-image:url(24/bended-arrow-up.png);}
.icon-24-big-brush{background-image:url(24/big-brush.png);}
.icon-24-bills-stack{background-image:url(24/bills-stack.png);}
.icon-24-blackberry-2{background-image:url(24/blackberry-2.png);}
.icon-24-blackberry-3{background-image:url(24/blackberry-3.png);}
.icon-24-blackberry{background-image:url(24/blackberry.png);}
.icon-24-blocks-images{background-image:url(24/blocks-images.png);}
.icon-24-blu-ray{background-image:url(24/blu-ray.png);}
.icon-24-bluetooth-2{background-image:url(24/bluetooth-2.png);}
.icon-24-bluetooth{background-image:url(24/bluetooth.png);}
.icon-24-book-bookmark{background-image:url(24/book-bookmark.png);}
.icon-24-book-large{background-image:url(24/book-large.png);}
.icon-24-book{background-image:url(24/book.png);}
.icon-24-bookmark{background-image:url(24/bookmark.png);}
.icon-24-books-2{background-image:url(24/books-2.png);}
.icon-24-books{background-image:url(24/books.png);}
.icon-24-box-incoming-2{background-image:url(24/box-incoming-2.png);}
.icon-24-box-incoming{background-image:url(24/box-incoming.png);}
.icon-24-box-outgoing-2{background-image:url(24/box-outgoing-2.png);}
.icon-24-box-outgoing{background-image:url(24/box-outgoing.png);}
.icon-24-bulls-eye{background-image:url(24/bulls-eye.png);}
.icon-24-calculator{background-image:url(24/calculator.png);}
.icon-24-calendar-today{background-image:url(24/calendar-today.png);}
.icon-24-camera-2{background-image:url(24/camera-2.png);}
.icon-24-camera{background-image:url(24/camera.png);}
.icon-24-candy-cane{background-image:url(24/candy-cane.png);}
.icon-24-car{background-image:url(24/car.png);}
.icon-24-cash-register{background-image:url(24/cash-register.png);}
.icon-24-cassette{background-image:url(24/cassette.png);}
.icon-24-cat{background-image:url(24/cat.png);}
.icon-24-cd{background-image:url(24/cd.png);}
.icon-24-cell-phone-reception{background-image:url(24/cell-phone-reception.png);}
.icon-24-chair{background-image:url(24/chair.png);}
.icon-24-chart-2{background-image:url(24/chart-2.png);}
.icon-24-chart-3{background-image:url(24/chart-3.png);}
.icon-24-chart-4{background-image:url(24/chart-4.png);}
.icon-24-chart-5{background-image:url(24/chart-5.png);}
.icon-24-chart-6{background-image:url(24/chart-6.png);}
.icon-24-chart-7{background-image:url(24/chart-7.png);}
.icon-24-chart-8{background-image:url(24/chart-8.png);}
.icon-24-chart{background-image:url(24/chart.png);}
.icon-24-check{background-image:url(24/check.png);}
.icon-24-chemical{background-image:url(24/chemical.png);}
.icon-24-chrome{background-image:url(24/chrome.png);}
.icon-24-clapboard{background-image:url(24/clapboard.png);}
.icon-24-clipboard-1{background-image:url(24/clipboard-1.png);}
.icon-24-clipboard{background-image:url(24/clipboard.png);}
.icon-24-clock-1{background-image:url(24/clock-1.png);}
.icon-24-clock-2{background-image:url(24/clock-2.png);}
.icon-24-clock{background-image:url(24/clock.png);}
.icon-24-cloud-download{background-image:url(24/cloud-download.png);}
.icon-24-cloud-lightning-rain{background-image:url(24/cloud-lightning-rain.png);}
.icon-24-cloud-lightning{background-image:url(24/cloud-lightning.png);}
.icon-24-cloud-rain-shining-sun{background-image:url(24/cloud-rain-shining-sun.png);}
.icon-24-cloud-rain-sun{background-image:url(24/cloud-rain-sun.png);}
.icon-24-cloud-upload{background-image:url(24/cloud-upload.png);}
.icon-24-cloud{background-image:url(24/cloud.png);}
.icon-24-cog-2{background-image:url(24/cog-2.png);}
.icon-24-cog-3{background-image:url(24/cog-3.png);}
.icon-24-cog-4{background-image:url(24/cog-4.png);}
.icon-24-cog-5{background-image:url(24/cog-5.png);}
.icon-24-cog{background-image:url(24/cog.png);}
.icon-24-companies{background-image:url(24/companies.png);}
.icon-24-computer-imac{background-image:url(24/computer-imac.png);}
.icon-24-coverflow{background-image:url(24/coverflow.png);}
.icon-24-create{background-image:url(24/create.png);}
.icon-24-creditcard{background-image:url(24/creditcard.png);}
.icon-24-cross{background-image:url(24/cross.png);}
.icon-24-crosshair{background-image:url(24/crosshair.png);}
.icon-24-cup{background-image:url(24/cup.png);}
.icon-24-cut-scissors{background-image:url(24/cut-scissors.png);}
.icon-24-cut{background-image:url(24/cut.png);}
.icon-24-day-calendar{background-image:url(24/day-calendar.png);}
.icon-24-delicious{background-image:url(24/delicious.png);}
.icon-24-digg-2{background-image:url(24/digg-2.png);}
.icon-24-digg-3{background-image:url(24/digg-3.png);}
.icon-24-digg-4{background-image:url(24/digg-4.png);}
.icon-24-digg{background-image:url(24/digg.png);}
.icon-24-document-1{background-image:url(24/document-1.png);}
.icon-24-document{background-image:url(24/document.png);}
.icon-24-documents-1{background-image:url(24/documents-1.png);}
.icon-24-documents{background-image:url(24/documents.png);}
.icon-24-dog-tag{background-image:url(24/dog-tag.png);}
.icon-24-dog-tags{background-image:url(24/dog-tags.png);}
.icon-24-download-to-computer{background-image:url(24/download-to-computer.png);}
.icon-24-download{background-image:url(24/download.png);}
.icon-24-dress{background-image:url(24/dress.png);}
.icon-24-dribbble-2{background-image:url(24/dribbble-2.png);}
.icon-24-dribbble-3{background-image:url(24/dribbble-3.png);}
.icon-24-dribbble-4{background-image:url(24/dribbble-4.png);}
.icon-24-dribbble{background-image:url(24/dribbble.png);}
.icon-24-dropbox{background-image:url(24/dropbox.png);}
.icon-24-drupal{background-image:url(24/drupal.png);}
.icon-24-dvd{background-image:url(24/dvd.png);}
.icon-24-eject{background-image:url(24/eject.png);}
.icon-24-electricity-input-2{background-image:url(24/electricity-input-2.png);}
.icon-24-electricity-input-plug{background-image:url(24/electricity-input-plug.png);}
.icon-24-electricity-input{background-image:url(24/electricity-input.png);}
.icon-24-electricity-plug{background-image:url(24/electricity-plug.png);}
.icon-24-excel-document{background-image:url(24/excel-document.png);}
.icon-24-excel-documents-1{background-image:url(24/excel-documents-1.png);}
.icon-24-excel-documents{background-image:url(24/excel-documents.png);}
.icon-24-exit{background-image:url(24/exit.png);}
.icon-24-expose{background-image:url(24/expose.png);}
.icon-24-expression-engine{background-image:url(24/expression-engine.png);}
.icon-24-eyedropper{background-image:url(24/eyedropper.png);}
.icon-24-facebook-1{background-image:url(24/facebook-1.png);}
.icon-24-facebook-like{background-image:url(24/facebook-like.png);}
.icon-24-facebook{background-image:url(24/facebook.png);}
.icon-24-favorite{background-image:url(24/favorite.png);}
.icon-24-female-contour{background-image:url(24/female-contour.png);}
.icon-24-female-symbol{background-image:url(24/female-symbol.png);}
.icon-24-file-cabinet{background-image:url(24/file-cabinet.png);}
.icon-24-film-2{background-image:url(24/film-2.png);}
.icon-24-film-camera-2{background-image:url(24/film-camera-2.png);}
.icon-24-film-camera{background-image:url(24/film-camera.png);}
.icon-24-film-strip{background-image:url(24/film-strip.png);}
.icon-24-film{background-image:url(24/film.png);}
.icon-24-finish-banner{background-image:url(24/finish-banner.png);}
.icon-24-finish-flag{background-image:url(24/finish-flag.png);}
.icon-24-firefox{background-image:url(24/firefox.png);}
.icon-24-flag-2{background-image:url(24/flag-2.png);}
.icon-24-flag{background-image:url(24/flag.png);}
.icon-24-flatscreen{background-image:url(24/flatscreen.png);}
.icon-24-flip-clock{background-image:url(24/flip-clock.png);}
.icon-24-folder-1{background-image:url(24/folder-1.png);}
.icon-24-folder{background-image:url(24/folder.png);}
.icon-24-footprint{background-image:url(24/footprint.png);}
.icon-24-footprints{background-image:url(24/footprints.png);}
.icon-24-fountain-pen{background-image:url(24/fountain-pen.png);}
.icon-24-frames{background-image:url(24/frames.png);}
.icon-24-g-key{background-image:url(24/g-key.png);}
.icon-24-glass{background-image:url(24/glass.png);}
.icon-24-globe-2{background-image:url(24/globe-2.png);}
.icon-24-globe{background-image:url(24/globe.png);}
.icon-24-go-back-from-screen-1{background-image:url(24/go-back-from-screen-1.png);}
.icon-24-go-back-from-screen{background-image:url(24/go-back-from-screen.png);}
.icon-24-go-full-screen{background-image:url(24/go-full-screen.png);}
.icon-24-google-buzz{background-image:url(24/google-buzz.png);}
.icon-24-google-maps{background-image:url(24/google-maps.png);}
.icon-24-graph-2{background-image:url(24/graph-2.png);}
.icon-24-graph{background-image:url(24/graph.png);}
.icon-24-group-2{background-image:url(24/group-2.png);}
.icon-24-group{background-image:url(24/group.png);}
.icon-24-halloween-pumpkin{background-image:url(24/halloween-pumpkin.png);}
.icon-24-hard-disk{background-image:url(24/hard-disk.png);}
.icon-24-hd-2{background-image:url(24/hd-2.png);}
.icon-24-hd-3{background-image:url(24/hd-3.png);}
.icon-24-hd{background-image:url(24/hd.png);}
.icon-24-headphones{background-image:url(24/headphones.png);}
.icon-24-heart-favorite{background-image:url(24/heart-favorite.png);}
.icon-24-help{background-image:url(24/help.png);}
.icon-24-home-1{background-image:url(24/home-1.png);}
.icon-24-home-2{background-image:url(24/home-2.png);}
.icon-24-home{background-image:url(24/home.png);}
.icon-24-hour-glass{background-image:url(24/hour-glass.png);}
.icon-24-ice-cream-2{background-image:url(24/ice-cream-2.png);}
.icon-24-ice-cream{background-image:url(24/ice-cream.png);}
.icon-24-ichat{background-image:url(24/ichat.png);}
.icon-24-ideal{background-image:url(24/ideal.png);}
.icon-24-image-2{background-image:url(24/image-2.png);}
.icon-24-image{background-image:url(24/image.png);}
.icon-24-images-2{background-image:url(24/images-2.png);}
.icon-24-images{background-image:url(24/images.png);}
.icon-24-inbox{background-image:url(24/inbox.png);}
.icon-24-info-about{background-image:url(24/info-about.png);}
.icon-24-ipad-2{background-image:url(24/ipad-2.png);}
.icon-24-ipad{background-image:url(24/ipad.png);}
.icon-24-iphone-3g{background-image:url(24/iphone-3g.png);}
.icon-24-iphone-4-2{background-image:url(24/iphone-4-2.png);}
.icon-24-iphone-4{background-image:url(24/iphone-4.png);}
.icon-24-ipod-classic{background-image:url(24/ipod-classic.png);}
.icon-24-ipod-nano-2{background-image:url(24/ipod-nano-2.png);}
.icon-24-ipod-nano{background-image:url(24/ipod-nano.png);}
.icon-24-ipod-shuffle{background-image:url(24/ipod-shuffle.png);}
.icon-24-joomla{background-image:url(24/joomla.png);}
.icon-24-key-2{background-image:url(24/key-2.png);}
.icon-24-key{background-image:url(24/key.png);}
.icon-24-keyboard{background-image:url(24/keyboard.png);}
.icon-24-ladys-purse{background-image:url(24/ladys-purse.png);}
.icon-24-lamp{background-image:url(24/lamp.png);}
.icon-24-laptop{background-image:url(24/laptop.png);}
.icon-24-lastfm-2{background-image:url(24/lastfm-2.png);}
.icon-24-lastfm{background-image:url(24/lastfm.png);}
.icon-24-leaf{background-image:url(24/leaf.png);}
.icon-24-lemonade-stand-2{background-image:url(24/lemonade-stand-2.png);}
.icon-24-lemonade-stand{background-image:url(24/lemonade-stand.png);}
.icon-24-light-bulb{background-image:url(24/light-bulb.png);}
.icon-24-link-2{background-image:url(24/link-2.png);}
.icon-24-link{background-image:url(24/link.png);}
.icon-24-linux{background-image:url(24/linux.png);}
.icon-24-list-image{background-image:url(24/list-image.png);}
.icon-24-list-images{background-image:url(24/list-images.png);}
.icon-24-list{background-image:url(24/list.png);}
.icon-24-loading-bar{background-image:url(24/loading-bar.png);}
.icon-24-lock-locked{background-image:url(24/lock-locked.png);}
.icon-24-locked-2{background-image:url(24/locked-2.png);}
.icon-24-locked-folder{background-image:url(24/locked-folder.png);}
.icon-24-locked{background-image:url(24/locked.png);}
.icon-24-looking-glass{background-image:url(24/looking-glass.png);}
.icon-24-macos{background-image:url(24/macos.png);}
.icon-24-magic-mouse{background-image:url(24/magic-mouse.png);}
.icon-24-magnifying-glass-2{background-image:url(24/magnifying-glass-2.png);}
.icon-24-magnifying-glass{background-image:url(24/magnifying-glass.png);}
.icon-24-mail-2{background-image:url(24/mail-2.png);}
.icon-24-mail{background-image:url(24/mail.png);}
.icon-24-male-contour{background-image:url(24/male-contour.png);}
.icon-24-male-symbol{background-image:url(24/male-symbol.png);}
.icon-24-map{background-image:url(24/map.png);}
.icon-24-marker{background-image:url(24/marker.png);}
.icon-24-mastercard{background-image:url(24/mastercard.png);}
.icon-24-medical-case{background-image:url(24/medical-case.png);}
.icon-24-megaphone{background-image:url(24/megaphone.png);}
.icon-24-message{background-image:url(24/message.png);}
.icon-24-mickey{background-image:url(24/mickey.png);}
.icon-24-microphone{background-image:url(24/microphone.png);}
.icon-24-mighty-mouse{background-image:url(24/mighty-mouse.png);}
.icon-24-minus{background-image:url(24/minus.png);}
.icon-24-mobile-phone-2{background-image:url(24/mobile-phone-2.png);}
.icon-24-mobile-phone{background-image:url(24/mobile-phone.png);}
.icon-24-mobypicture{background-image:url(24/mobypicture.png);}
.icon-24-money-2{background-image:url(24/money-2.png);}
.icon-24-money{background-image:url(24/money.png);}
.icon-24-monitor{background-image:url(24/monitor.png);}
.icon-24-month-calendar{background-image:url(24/month-calendar.png);}
.icon-24-mouse-{background-image:url(24/mouse-.png);}
.icon-24-mouse-2{background-image:url(24/mouse-2.png);}
.icon-24-mouseires{background-image:url(24/mouseires.png);}
.icon-24-multiple-users{background-image:url(24/multiple-users.png);}
.icon-24-music-folder{background-image:url(24/music-folder.png);}
.icon-24-music{background-image:url(24/music.png);}
.icon-24-musical-keyboard{background-image:url(24/musical-keyboard.png);}
.icon-24-myspace-2{background-image:url(24/myspace-2.png);}
.icon-24-myspace{background-image:url(24/myspace.png);}
.icon-24-new-message{background-image:url(24/new-message.png);}
.icon-24-next-track{background-image:url(24/next-track.png);}
.icon-24-nike-sport-shirt{background-image:url(24/nike-sport-shirt.png);}
.icon-24-note-book{background-image:url(24/note-book.png);}
.icon-24-off{background-image:url(24/off.png);}
.icon-24-old-phone{background-image:url(24/old-phone.png);}
.icon-24-pacman-ghost{background-image:url(24/pacman-ghost.png);}
.icon-24-pacman{background-image:url(24/pacman.png);}
.icon-24-paint-brush{background-image:url(24/paint-brush.png);}
.icon-24-pants{background-image:url(24/pants.png);}
.icon-24-paperclip{background-image:url(24/paperclip.png);}
.icon-24-paypal-2{background-image:url(24/paypal-2.png);}
.icon-24-paypal-3{background-image:url(24/paypal-3.png);}
.icon-24-paypal-4{background-image:url(24/paypal-4.png);}
.icon-24-paypal-5{background-image:url(24/paypal-5.png);}
.icon-24-paypal{background-image:url(24/paypal.png);}
.icon-24-pdf-document{background-image:url(24/pdf-document.png);}
.icon-24-pdf-documents-1{background-image:url(24/pdf-documents-1.png);}
.icon-24-pdf-documents{background-image:url(24/pdf-documents.png);}
.icon-24-pencil-edit{background-image:url(24/pencil-edit.png);}
.icon-24-pencil{background-image:url(24/pencil.png);}
.icon-24-personal-folder-user-folder{background-image:url(24/personal-folder-user-folder.png);}
.icon-24-phone-2{background-image:url(24/phone-2.png);}
.icon-24-phone-3{background-image:url(24/phone-3.png);}
.icon-24-phone-4{background-image:url(24/phone-4.png);}
.icon-24-phone-hook{background-image:url(24/phone-hook.png);}
.icon-24-phone{background-image:url(24/phone.png);}
.icon-24-piggy-bank{background-image:url(24/piggy-bank.png);}
.icon-24-plane-suitcase{background-image:url(24/plane-suitcase.png);}
.icon-24-plate-diner{background-image:url(24/plate-diner.png);}
.icon-24-play{background-image:url(24/play.png);}
.icon-24-plixi{background-image:url(24/plixi.png);}
.icon-24-plus{background-image:url(24/plus.png);}
.icon-24-polaroids{background-image:url(24/polaroids.png);}
.icon-24-post-card{background-image:url(24/post-card.png);}
.icon-24-power{background-image:url(24/power.png);}
.icon-24-powerpoint-document{background-image:url(24/powerpoint-document.png);}
.icon-24-powerpoint-documents-1{background-image:url(24/powerpoint-documents-1.png);}
.icon-24-powerpoint-documents{background-image:url(24/powerpoint-documents.png);}
.icon-24-presentation-1{background-image:url(24/presentation-1.png);}
.icon-24-presentation{background-image:url(24/presentation.png);}
.icon-24-preview{background-image:url(24/preview.png);}
.icon-24-previous-track{background-image:url(24/previous-track.png);}
.icon-24-price-tag{background-image:url(24/price-tag.png);}
.icon-24-price-tags{background-image:url(24/price-tags.png);}
.icon-24-printer{background-image:url(24/printer.png);}
.icon-24-quicktime-new{background-image:url(24/quicktime-new.png);}
.icon-24-quicktime{background-image:url(24/quicktime.png);}
.icon-24-radio-signal{background-image:url(24/radio-signal.png);}
.icon-24-radio{background-image:url(24/radio.png);}
.icon-24-rake-and-scoop{background-image:url(24/rake-and-scoop.png);}
.icon-24-record{background-image:url(24/record.png);}
.icon-24-recycle-symbol{background-image:url(24/recycle-symbol.png);}
.icon-24-recycled-bag{background-image:url(24/recycled-bag.png);}
.icon-24-refresh-2{background-image:url(24/refresh-2.png);}
.icon-24-refresh-3{background-image:url(24/refresh-3.png);}
.icon-24-refresh-4{background-image:url(24/refresh-4.png);}
.icon-24-refresh{background-image:url(24/refresh.png);}
.icon-24-repeat{background-image:url(24/repeat.png);}
.icon-24-robot{background-image:url(24/robot.png);}
.icon-24-rss{background-image:url(24/rss.png);}
.icon-24-ruler-2{background-image:url(24/ruler-2.png);}
.icon-24-ruler{background-image:url(24/ruler.png);}
.icon-24-running-man{background-image:url(24/running-man.png);}
.icon-24-safari{background-image:url(24/safari.png);}
.icon-24-save{background-image:url(24/save.png);}
.icon-24-scan-label-2{background-image:url(24/scan-label-2.png);}
.icon-24-scan-label-3{background-image:url(24/scan-label-3.png);}
.icon-24-scan-label{background-image:url(24/scan-label.png);}
.icon-24-sd-2{background-image:url(24/sd-2.png);}
.icon-24-sd-3{background-image:url(24/sd-3.png);}
.icon-24-sd{background-image:url(24/sd.png);}
.icon-24-settings-1{background-image:url(24/settings-1.png);}
.icon-24-settings-2{background-image:url(24/settings-2.png);}
.icon-24-settings{background-image:url(24/settings.png);}
.icon-24-shades{background-image:url(24/shades.png);}
.icon-24-shopping-bag{background-image:url(24/shopping-bag.png);}
.icon-24-shopping-basket-2{background-image:url(24/shopping-basket-2.png);}
.icon-24-shopping-basket{background-image:url(24/shopping-basket.png);}
.icon-24-shopping-cart-2{background-image:url(24/shopping-cart-2.png);}
.icon-24-shopping-cart-3{background-image:url(24/shopping-cart-3.png);}
.icon-24-shopping-cart-4{background-image:url(24/shopping-cart-4.png);}
.icon-24-shopping-cart{background-image:url(24/shopping-cart.png);}
.icon-24-shuffle{background-image:url(24/shuffle.png);}
.icon-24-sign-post-2{background-image:url(24/sign-post-2.png);}
.icon-24-sign-post{background-image:url(24/sign-post.png);}
.icon-24-single-document{background-image:url(24/single-document.png);}
.icon-24-single-excel-document{background-image:url(24/single-excel-document.png);}
.icon-24-single-pdf-document{background-image:url(24/single-pdf-document.png);}
.icon-24-single-powerpoint-document{background-image:url(24/single-powerpoint-document.png);}
.icon-24-single-user{background-image:url(24/single-user.png);}
.icon-24-single-word-document{background-image:url(24/single-word-document.png);}
.icon-24-single-zip-document{background-image:url(24/single-zip-document.png);}
.icon-24-skype-2{background-image:url(24/skype-2.png);}
.icon-24-skype{background-image:url(24/skype.png);}
.icon-24-sleeveless-shirt{background-image:url(24/sleeveless-shirt.png);}
.icon-24-small-brush{background-image:url(24/small-brush.png);}
.icon-24-socks{background-image:url(24/socks.png);}
.icon-24-sound{background-image:url(24/sound.png);}
.icon-24-speech-bubble-2{background-image:url(24/speech-bubble-2.png);}
.icon-24-speech-bubble{background-image:url(24/speech-bubble.png);}
.icon-24-speech-bubbles-1{background-image:url(24/speech-bubbles-1.png);}
.icon-24-speech-bubbles-2{background-image:url(24/speech-bubbles-2.png);}
.icon-24-speech-bubbles{background-image:url(24/speech-bubbles.png);}
.icon-24-sport-shirt{background-image:url(24/sport-shirt.png);}
.icon-24-sticky-note{background-image:url(24/sticky-note.png);}
.icon-24-stop{background-image:url(24/stop.png);}
.icon-24-stopatch{background-image:url(24/stopatch.png);}
.icon-24-strategy-2{background-image:url(24/strategy-2.png);}
.icon-24-strategy{background-image:url(24/strategy.png);}
.icon-24-strike-through-month-calendar{background-image:url(24/strike-through-month-calendar.png);}
.icon-24-stubleupon{background-image:url(24/stubleupon.png);}
.icon-24-suitcase-1{background-image:url(24/suitcase-1.png);}
.icon-24-suitcase-2{background-image:url(24/suitcase-2.png);}
.icon-24-sweater{background-image:url(24/sweater.png);}
.icon-24-t-shirt{background-image:url(24/t-shirt.png);}
.icon-24-table-1{background-image:url(24/table-1.png);}
.icon-24-table{background-image:url(24/table.png);}
.icon-24-tag-1{background-image:url(24/tag-1.png);}
.icon-24-tag{background-image:url(24/tag.png);}
.icon-24-tags-2{background-image:url(24/tags-2.png);}
.icon-24-television{background-image:url(24/television.png);}
.icon-24-text-document{background-image:url(24/text-document.png);}
.icon-24-text-documents{background-image:url(24/text-documents.png);}
.icon-24-text-styling-2{background-image:url(24/text-styling-2.png);}
.icon-24-text-styling-3{background-image:url(24/text-styling-3.png);}
.icon-24-text-styling{background-image:url(24/text-styling.png);}
.icon-24-timer{background-image:url(24/timer.png);}
.icon-24-tools{background-image:url(24/tools.png);}
.icon-24-traffic-light{background-image:url(24/traffic-light.png);}
.icon-24-trashcan-2{background-image:url(24/trashcan-2.png);}
.icon-24-trashcan{background-image:url(24/trashcan.png);}
.icon-24-travel-suitcase{background-image:url(24/travel-suitcase.png);}
.icon-24-tree{background-image:url(24/tree.png);}
.icon-24-trolly{background-image:url(24/trolly.png);}
.icon-24-truck-2{background-image:url(24/truck-2.png);}
.icon-24-truck{background-image:url(24/truck.png);}
.icon-24-tumbler{background-image:url(24/tumbler.png);}
.icon-24-twitter-1{background-image:url(24/twitter-1.png);}
.icon-24-twitter-2{background-image:url(24/twitter-2.png);}
.icon-24-twitter{background-image:url(24/twitter.png);}
.icon-24-umbrella{background-image:url(24/umbrella.png);}
.icon-24-under-construction{background-image:url(24/under-construction.png);}
.icon-24-unfavorite{background-image:url(24/unfavorite.png);}
.icon-24-universal-acces{background-image:url(24/universal-acces.png);}
.icon-24-unlock-unlocked{background-image:url(24/unlock-unlocked.png);}
.icon-24-unlocked{background-image:url(24/unlocked.png);}
.icon-24-upload{background-image:url(24/upload.png);}
.icon-24-usb-stick{background-image:url(24/usb-stick.png);}
.icon-24-user-2{background-image:url(24/user-2.png);}
.icon-24-user-comment{background-image:url(24/user-comment.png);}
.icon-24-user{background-image:url(24/user.png);}
.icon-24-users-2{background-image:url(24/users-2.png);}
.icon-24-users{background-image:url(24/users.png);}
.icon-24-v-card-1{background-image:url(24/v-card-1.png);}
.icon-24-v-card-2{background-image:url(24/v-card-2.png);}
.icon-24-v-card-3{background-image:url(24/v-card-3.png);}
.icon-24-v-card{background-image:url(24/v-card.png);}
.icon-24-vault{background-image:url(24/vault.png);}
.icon-24-vimeo-2{background-image:url(24/vimeo-2.png);}
.icon-24-vimeo-3{background-image:url(24/vimeo-3.png);}
.icon-24-vimeo-4{background-image:url(24/vimeo-4.png);}
.icon-24-vimeo-5{background-image:url(24/vimeo-5.png);}
.icon-24-vimeo{background-image:url(24/vimeo.png);}
.icon-24-visa-2{background-image:url(24/visa-2.png);}
.icon-24-visa{background-image:url(24/visa.png);}
.icon-24-wacom-2{background-image:url(24/wacom-2.png);}
.icon-24-wacom{background-image:url(24/wacom.png);}
.icon-24-walking-man{background-image:url(24/walking-man.png);}
.icon-24-wifi-2{background-image:url(24/wifi-2.png);}
.icon-24-wifi-signal-2{background-image:url(24/wifi-signal-2.png);}
.icon-24-wifi-signal{background-image:url(24/wifi-signal.png);}
.icon-24-wifi{background-image:url(24/wifi.png);}
.icon-24-windows{background-image:url(24/windows.png);}
.icon-24-wine-glass{background-image:url(24/wine-glass.png);}
.icon-24-winner-podium{background-image:url(24/winner-podium.png);}
.icon-24-word-document{background-image:url(24/word-document.png);}
.icon-24-word-documents-1{background-image:url(24/word-documents-1.png);}
.icon-24-word-documents{background-image:url(24/word-documents.png);}
.icon-24-wordpress-2{background-image:url(24/wordpress-2.png);}
.icon-24-wordpress{background-image:url(24/wordpress.png);}
.icon-24-youtube-2{background-image:url(24/youtube-2.png);}
.icon-24-youtube-3{background-image:url(24/youtube-3.png);}
.icon-24-youtube-4{background-image:url(24/youtube-4.png);}
.icon-24-youtube{background-image:url(24/youtube.png);}
.icon-24-zip-documents{background-image:url(24/zip-documents.png);}
.icon-24-zip-file{background-image:url(24/zip-file.png);}
.icon-24-zip-files{background-image:url(24/zip-files.png);}